[submodule "bundle/editorconfig-vim"]
	path = pack/pack/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim
[submodule "bundle/rust.vim"]
	path = pack/pack/start/rust.vim
[submodule "bundle/sourcerer.vim"]
	path = pack/pack/start/sourcerer.vim
[submodule "bundle/syntastic"]
	path = pack/pack/start/syntastic
[submodule "bundle/vim-javascript"]
	path = pack/pack/start/vim-javascript
[submodule "bundle/vim-easymotion"]
	path = pack/pack/start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion
[submodule "bundle/vim-sleuth"]
	path = pack/pack/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth
[submodule "pack/pack/start/vim-wasm"]
	path = pack/pack/start/vim-wasm
	url = git@github.com:rhysd/vim-wasm
[submodule "pack/pack/start/vim-prettier"]
	path = pack/pack/start/vim-prettier
	url = git@github.com:prettier/vim-prettier
